@{
    ViewBag.Title = "NoPermission";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="alert alert-warning text-center p-3 mb-5">
                <h3 class="display-4">Lỗi 403 - Forbidden</h3> 
                <img src="https://media.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif" alt="403 Error GIF" class="img-fluid my-3">
                <p class="lead">Bạn không có quyền truy cập vào trang này.</p>
                <hr>
                <p>Vui lòng liên hệ với quản trị viên để biết thêm chi tiết.</p>
            </div>
           
            <div class="alert alert-danger text-center p-5">
                <h2 class="alert-heading display-4">Không có quyền truy cập</h2>
                <p class="lead">Bạn không có quyền để truy cập vào trang này.</p>
                <hr>
                <p class="mb-0">Vui lòng liên hệ với quản trị viên để biết thêm chi tiết.</p>
            </div>
        </div>
    </div>
</div>
