@{
    ViewBag.Title = "GioHangPartial";
    Layout = null;
}
<li>
    <a href="@Url.Action("GioHang", "Cart")" id="gioHangLink">
        <span id="gioHangCount">@ViewBag.TongSoLuong</span>
    </a>
</li>